/* Color Theme Swatches in Hex */
$primaryBG: #FFFFFF;
$secondaryBG: #C4E7E1;
$additional: #A3C9BA;
$secondary: #78AAA7;
$primary: #519389;
$primaryFont:$primaryBG;
$primaryChat:$secondaryBG;
$secondaryChat:#f1f1f1;

/* Color Theme Swatches in RGBA */
$teal-color-chart-shades-of-gray-benjamin-moore-1-rgba: rgba(255,255,255, 1);
$teal-color-chart-shades-of-gray-benjamin-moore-2-rgba: rgba(196,231,225, 1);
$teal-color-chart-shades-of-gray-benjamin-moore-3-rgba: rgba(163,201,186, 1);
$teal-color-chart-shades-of-gray-benjamin-moore-4-rgba: rgba(120,170,167, 1);
$teal-color-chart-shades-of-gray-benjamin-moore-5-rgba: rgba(81,147,137, 1);

/* Color Theme Swatches in HSLA */
$teal-color-chart-shades-of-gray-benjamin-moore-1-hsla: hsla(0, 0, 100, 1);
$teal-color-chart-shades-of-gray-benjamin-moore-2-hsla: hsla(169, 42, 83, 1);
$teal-color-chart-shades-of-gray-benjamin-moore-3-hsla: hsla(156, 26, 71, 1);
$teal-color-chart-shades-of-gray-benjamin-moore-4-hsla: hsla(176, 22, 56, 1);
$teal-color-chart-shades-of-gray-benjamin-moore-5-hsla: hsla(170, 28, 44, 1);