@import "../styles/colors";
@import "../styles/media-queries";

.chat-room {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__header {
    display: flex;
    flex: 1 1 50px;
    height: 10%;
    width: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    max-height: 890%;
    height: auto;
    overflow-y: auto;
  }

  &__footer {
    display: flex;
    flex: 0 0 auto;
    max-height: 20%;
    height: auto;
  }
}

.text-editor {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid $secondaryChat;
  &__left {
    display: flex;
    flex: 0 0 auto;
    width: 85%;
  }

  &__right {
    display: flex;
    flex: 0 0 auto;
    width: 15%;
    justify-content: center;
    align-items: center;

    button {
      width: 100%;
      border: none;
      background: $primary;
      color: $primaryFont;
      font-size: 1em;
      height: 35px;
      width: 35px;
      border-radius: 50px;
    }
  }

  textarea {
    font-size: 1.2em;
    width: 90%;
    border-radius: 5px;
    margin: 2.5%;
    max-height: 70px;
    padding: 2.5%;
    border: 1px solid #ccc;
    height: 20px;
  }
}

@include tablet {
}
@include desktop {
  .text-editor {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid $secondaryChat;
    &__left {
      display: flex;
      flex: 0 0 auto;
      width: 95%;
    }

    &__right {
      width: 5%;

      button {
        width: 100%;
        border: none;
        background: $primary;
        color: $primaryFont;
        font-size: 1em;
        height: 35px;
        width: 35px;
        border-radius: 50px;
      }
    }

    textarea {
      font-size: 1.2em;
      width: 100%;
      border-radius: 5px;
      margin: .5%;
      max-height: 70px;
      padding: .5%;
      border: 1px solid #ccc;
      height: 20px;
    }
  }
}
